---
import { AstroContentDevtools } from 'astro-content-devtools'

import { collections } from '../content/config'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/docs">Docs</a>
        <a href="/posts">Posts</a>
      </nav>
    </header>
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
    <AstroContentDevtools collections={collections} />
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }

  html {
    background-color: #f6f6f6;
    font-family: system-ui, sans-serif;
  }

  main {
    margin: auto;
    max-width: 80ch;
    padding: 1.5rem;
  }

  h1 {
    background-image: var(--accent-gradient);
    background-position: 0%;
    background-size: 400%;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
