.button {
  background-color: var(--acd-color-blue-700);
  border: none;
  border-radius: var(--acd-size-1);
  color: var(--acd-color-white);
  cursor: pointer;
  font-weight: var(--acd-font-medium);
  padding: var(--acd-size-2) var(--acd-size-3-5);
}

.button:hover:not(.danger, .success) {
  background-color: var(--acd-color-blue-600);
}

.button:active:not(.danger, .success) {
  background-color: var(--acd-color-blue-500);
}

.success {
  background-color: var(--acd-color-emerald-600);
}

.danger {
  background-color: var(--acd-color-rose-600);
}
