.devtools {
  background-color: var(--acd-panel-bg);
  bottom: 0;
  display: grid;
  /* TODO(HiDeoo)  */
  height: 400px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: 99999;
}

.opened {
  opacity: 1;
  pointer-events: all;
}

.column1 {
  grid-template-columns: 1fr;
}

.columns3 {
  grid-template-columns: 20% 20% 1fr;
}

.columns4 {
  grid-template-columns: 20% 20% 20% 1fr;
}
