.toggle {
  cursor: pointer;
  margin: var(--acd-size-2);
  pointer-events: all;
}

.closed {
  background-color: red;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 99999;
}

.opened {
  background-color: green;
}
