.header {
  align-items: center;
  background-color: var(--acd-color-gray-700);
  border: 1px solid var(--acd-color-gray-600);
  border-bottom: none;
  display: flex;
  padding: 0.4rem 0.5rem;
}

.header span {
  display: block;
  font-size: var(--acd-text-sm);
  margin-left: 0.35rem;
}

.object {
  background-color: var(--acd-color-gray-700);
  display: grid;
  grid-template-columns: min-content auto min-content;
}

.object:not(.root) {
  border: 1px solid var(--acd-color-gray-600);
}

:is(.object, .record) > div {
  padding: 0.4rem 0.5rem;
}

.object > :is(div:nth-child(6n + 1), div:nth-child(6n + 2), div:nth-child(6n + 3)) {
  background-color: var(--acd-color-gray-800);
}

.record {
  background-color: var(--acd-color-gray-800);
  border: 1px solid var(--acd-color-gray-600);
  display: grid;
  grid-template-columns: min-content auto;
}

.propertyName {
  color: var(--acd-color-white);
  font-style: italic;
  font-weight: var(--acd-font-medium);
}

.propertyName.required {
  font-style: normal;
}

.record .propertyName {
  font-style: normal;
  white-space: pre;
}
