.record {
  background-color: var(--acd-color-gray-800);
  border: 1px solid var(--acd-color-gray-600);
  display: grid;
  grid-template-columns: min-content auto;
}

.record > div {
  padding: 0.4rem 0.5rem;
}

.propertyName {
  color: var(--acd-color-white);
  font-weight: var(--acd-font-medium);
  white-space: pre;
}
