.type {
  align-items: center;
  display: flex;
  min-width: 0;
}

.details {
  display: block;
  font-size: var(--acd-text-sm);
  margin-left: 0.35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
